<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../static/css/adminboot.css" />
    <script src="../static/jquery/jquery.js"></script>
    <script src="../static/scripts/popper.min.js"></script>
    <script src="../static/scripts/bootstrap.bundle.js"></script>

  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor01">
          <ul class="navbar-nav me-auto">
            <li class="nav-item">
              <a class="nav-link" href="admin_home">Home
                <span class="visually-hidden">(current)</span>
              </a>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Admin</a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="admin_reg">Add</a>
                <a class="dropdown-item" href="show_admins">Show Admins</a>
              </div>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Medicals</a>
              <div class="dropdown-menu">

                <a class="dropdown-item" href="medical_reg">Add</a>
                <a class="dropdown-item" href="show_medicals">Manage</a>
              </div>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="logout">Logout</a>
            </li>

          </ul>

        </div>
      </div>
    </nav>

    <div class="row" style="min-height:400px;">
      <div class="col-lg-9 col-md-9 col-sm-12">
        {% block m2 %}
        {% endblock %}
      </div>
    </div>

    <!-- jQuery script to ensure dropdown functionality -->
    <script>
      $(document).ready(function(){
        $('.dropdown-toggle').dropdown();
      });
    </script>

    <script src="../static/jquery/jquery.js"></script>
    <script src="../static/scripts/popper.min.js"></script>
    <script src="../static/scripts/bootstrap.bundle.js"></script>
  </body>
</html>