{% extends "Medical_Guest.html" %}
{% block m3 %}
<h1>Medical Block</h1>
{% if data %}

{% if photo=="no" %}
    <form method="post" enctype="multipart/form-data" action="upload_medical_photo">
        <p>
            Photo <input type="file" name="F1" />
            <button type="submit">Upload</button>
        </p>
    </form>
{% else %}
    <img src="../static/photos/{{photo}}" width="200" height="150" />
    <p>
        <a href="change_medical_photo">Change</a>
    </p>

{% endif %}
<h3> Name: {{data[0]}}</h3>
<h4>
    Owner : {{data[1]}}<br/>
    Address : {{data[2]}}<br/>
    Contact : {{data[3]}}<br>
    <a href="medical_edit_profile">Edit</a>
</h4>
{% elif msg %}
<h3> {{msg}} </h3>
{% endif %}


<p><a href="medical_pass_change">Change Password</a></p>

{% endblock %}